.landingIcon{
  width: 200px;
  height: auto;
}

.navbarIcon{
  width: 10%;
  height: auto;

}

.section-heading-spacer{
    float: left;
    width: 500px;
    border-top: 3px solid #e7e7e7;
}

.ipad {
    padding-top: 50px !important;
    padding-right: 20px !important;
}

.ibmbp {
  height: 72px !important;
}

.ionic {
  padding-top: 10px !important;
}

.kad {
  width: 50% !important;
}

